DISCORD_TOKEN=your_discord_token_here
GUILD_ID=your_guild_id_here
CONFIG_PATH=./config/config.toml
LOG_LEVEL=info
STAFF_ROLES_IDS=
DATABASE_URL=postgresql://username:password@host:port/database
DATABASE_SCHEMA=public